{% load static %}
<a href="{% url 'home' %}">Home</a>

<h1>Movie details page</h1>

<a href="{% get_media_prefix %}{{ movie.photo }}" target="_blank">
    <img src="{% get_media_prefix %}{{ movie.photo }}" alt="{{ movie.title }} poster" height="300px">
</a>

<p>Title: {{ object.title }}</p>
<p>Year: {{ object.year }}</p>
<p>Rating: {{ movie.avg_rating|floatformat:2 }} / 10</p>
<p>Total votes: {{ movie.ratings_count }}</p>
<p>Actors: {{ object.actors }}</p>
<p>Genre: {{ object.genre }}</p>

<p>Trailer: <a href="{{ object.trailer }}" target="_blank">
    <button>Link</button>
</a></p>

<a href="{% url 'movie_list' %}">Back</a>

{% if user.is_authenticated %}
    <a href="{% url 'movie_rate' object.pk %}">Rate</a>
    <a href="{% url 'movie_edit' object.pk %}">Edit</a>
    <a href="{% url 'movie_delete' object.pk %}">Delete</a>
{% endif %}
